<ion-card>
  <ion-card-header>
    <ion-card-title><ion-icon name="receipt-outline" color="warning"/> Last recipe</ion-card-title>
    <ion-card-subtitle>Fallafels</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <p class="recipe-head">
      <img src="/assets/img/fallafel.png" alt="tasty falafel balls">
      <ion-label>
        <p>Difficulty: <span class="level">Easy</span></p>
        <p>06/06/23 18:30</p>
      </ion-label>
      </p>
    </ion-item>
    <ion-item lines="none"  *ngIf="hasNotes">
      <ion-label>
        <p><em>Notes: </em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ipsam pariatur, error corporis fugit explicabo nemo? Voluptatum aspernatur nisi magni dolor, tenetur eveniet doloremque provident ratione quibusdam maxime aliquid eos placeat distinctio accusantium numquam in! Perferendis culpa nostrum explicabo laudantium quam reiciendis? Unde sunt blanditiis ut nostrum officiis. Porro iure saepe corporis dolore doloribus fugiat iusto recusandae earum quam dolor! Ab culpa laboriosam, aliquid doloribus adipisci quo qui maiores minima iste mollitia odio sit in quibusdam earum aut atque officiis eum laudantium deleniti reiciendis et labore fugit suscipit. Consequatur quasi quas, vero modi amet eaque totam temporibus voluptates repellendus incidunt!</p>
      </ion-label>
    </ion-item>
    <ion-button color="primary" fill="clear" size="full">Open the recipe</ion-button>
  </ion-card-content>
</ion-card>