<ion-card>
  <ng-content select="[header]"/>
  
  <ion-card-header>
    <ion-card-title><ion-icon name="receipt-outline" color="warning"/> Last recipe</ion-card-title>
    <ion-card-subtitle>{{ recipeName }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <p class="recipe-head">
      <img src={{recipeImage}} alt={{recipeImageAlt}}>
      <ion-label>
        <p>
          <ion-icon *ngIf="recipeDifficulty === 'easy'" name="happy-outline" color="success"/>
          <ion-icon *ngIf="recipeDifficulty === 'medium'" name="sad-outline" color="warning"/>
          <ion-icon *ngIf="recipeDifficulty === 'hard'" name="skull-outline" color="danger"/>
          Difficulty: <span class="level">{{ recipeDifficulty }}</span></p>
      </ion-label>
      </p>
    </ion-item>
    <!-- Display the notes only if there are notes & we allow notes to be displayed -->
    <ion-item lines="none"  *ngIf="hasNotes && recipeNotes">
      <ion-label>
        <p><em>Notes: </em>{{ recipeNotes }}</p>
      </ion-label>
    </ion-item>
    <ion-button color="primary" fill="clear" size="full">Open the recipe</ion-button>
    <ng-content/> <!-- ng content is used to insert the content inside the component selector -->
  </ion-card-content>

  <ng-content select="[footer]"/>
</ion-card>