<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Do you like spicy food?
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
     <ion-radio-group>
      <ion-item>
        <ion-label>yes, I LOVE it!</ion-label>
        <ion-radio value="spicy" slot="start"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>no, I HATE it!</ion-label>
        <ion-radio value="mild" slot="start"></ion-radio>
      </ion-item>
     </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Name
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
   <ion-input label="Name" labelPlacement="floating" placeholder="Enter your name"></ion-input>
    </ion-card-content>
  </ion-card>

  <ion-button size="full" color="light">
    OK
   </ion-button> 
</ion-content>