<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-menu-button/></ion-buttons>
    <ion-title>Scidelice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start"><img src="assets/img/avatar.jpg" alt="avatar"/></ion-avatar>
      <ion-label>
        <h2>Jane Doe</h2>
        <p>Level: <span class="level">12</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-recipe-card 
    [hasNotes]="false" 
    [recipeName]="'fallafel balls'" 
    [recipeDifficulty]="'easy'" 
    [recipeImage]="'/assets/img/fallafel.png'" 
    [recipeImageAlt]="'tasty falafel balls'" 
    [recipeNotes]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ipsam pariatur, error corporis fugit explicabo nemo? Voluptatum aspernatur nisi magni dolor, tenetur eveniet doloremque provident ratione quibusdam maxime aliquid eos placeat distinctio accusantium numquam in! Perferendis culpa nostrum explicabo laudantium quam reiciendis? Unde sunt blanditiis ut nostrum officiis. Porro iure saepe corporis dolore doloribus fugiat iusto recusandae earum quam dolor! Ab culpa laboriosam, aliquid doloribus adipisci quo qui maiores minima iste mollitia odio sit in quibusdam earum aut atque officiis eum laudantium deleniti reiciendis et labore fugit suscipit. Consequatur quasi quas, vero modi amet eaque totam temporibus voluptates repellendus incidunt!'"
  >This recipe card is in the home page</app-recipe-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

