<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button/>
      <ion-back-button text=""/>
    </ion-buttons>
    <ion-title>New recipe</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <img src="/assets/img/fallafel.png" alt="tasty falafel balls">
      <p>
        <ion-card-header>Fallafels</ion-card-header>
        <ion-list>
          <ion-item>Chickpeas</ion-item>
          <ion-item>Onions</ion-item>
          <ion-item>Garlic</ion-item>
          <ion-item>Coriander</ion-item>
          <ion-item>Cumin</ion-item>
          <ion-item>Flour</ion-item>
          <ion-item>Salt</ion-item>
          <ion-item>Pepper</ion-item>
          </ion-list>
      </p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea/>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="primary">Add recipe</ion-button>
</ion-content>